<div>
  <form [formGroup]="addForm">
    <input type="text" placeholder="Enter Date" formControlName="date" />
    <input type="text" placeholder="Enter Title" formControlName="title"/>
    <input type="text" placeholder="Enter Description" formControlName="description" />

    <select name="Priority" formControlName="priority">
      <option value="Low" >Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
    <br/>
    <br/>
    <button type="submit" (click)="addData()"><span><i class="fa fa-user-plus" aria-hidden="true"></i></span> Add User </button>
  </form>
</div>
